*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

.mainContent{
    height: 100vh;
    border: 2px solid blue;
}

.fieldText{
    width: 100%;
    border: 1px solid black;
    position: fixed;
    bottom: 0;
}

input{
    width: 100%;
    height: 50px;
}

.notesLog{
    height: 100%;
    border: 1px solid white;
}

input[type="submit"]{
    margin-left: -50px;
    height: 50px;
    width: 50px;
    --webkit-appearance: none;
}